.swim-container {

    background-color: antiquewhite;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    border: 2px solid red;
}

.box {
    position: relative;
    margin: 50px;
    /* border: 2px solid blue; */
    padding: 40px;
}

/* .ring img {
    position: relative;
    top: 50px;
    left: 200px;
} */

.boy {
    top: 190px;
    z-index: 2;
}

.ring {
    z-index: 1;
}

.water {
    bottom: 200px;
}